body {
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;

	padding-top: 40px; /* Relleno superior igual a la altura de la cabecera*/

}

header{
  background:#0C658A;
  position:inherit;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left:0; /* Posicionamos la cabecera al lado izquierdo */
  right:0;
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */

}
#btn-menu{
  display: none;
}
#img{
  width: 50px;
  height: 50px;
}
header label{
  display: none;
  width: 50px;
  height: 50px;
  padding: 0px;
  background-color: #0C658A;
}
header label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0,3);
}
.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li{
flex-grow: 1;

}

.menu li:hover{
  background: rgba(0,0,0,0,3);
}
.menu li a{
  display: block;
  padding: 4px 120px;
  color:#fff;
  text-decoration: none;
}

@media (max-width: 768px){
  body{
    padding-top: 40px;
  }
header label{
  display: block;
}
.menu{
  position: absolute;
  background: #0C658A;
  width: 100%;
  margin-left: -100%;
  transition: all 0.1s;
}
.menu ul{
  flex-direction: column;
}
.menu li{
  border-top: 1px solid black;
  border-right: 0px solid black;
  border-bottom: 0px solid black;
}

#btn-menu:checked ~ .menu{
  margin: 0;
}
}
